#principale{
    padding: 1vh 3vw;
    line-height: 4vh;
    font-family: sans-serif;
    color: #6699CC;
    background: white;
    margin:3vh 4vw;
    border-radius: 2%;
}
#img{
    max-width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}


@media (min-width: 577px) and (max-width: 1024px){
    #principale{
        font-size: 1.5em;
    }
}

@media (min-width: 1025px){
    #principale{
        margin: 4vh 25vw;
        line-height: 3vh;
    }
}