fieldset{
    padding: 0 5vw;
    line-height: 2.5vw;
    font-family: sans-serif;
    background-color: rgb(1, 53, 53);
    margin: 2vh 5vw;
    border-radius: 2%;
    border: none;
}
li {
    color: white;
    list-style-type: none;
    margin-top: 3vh;
}
input{
    border: none;
    background-color: rgb(1, 53, 53);
    color: white;
    width: 65vw;
    margin-top: 2vh;
}
input::placeholder{
    color: white;
}
input:focus{
    border: none;
    outline: none;
}
#legend{
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
    color: white;
    font-weight: bold;
    margin-top: 3vh;
}
#button{
    display: flex;
    justify-content: space-around;
    margin: 3vh 0;
}
.btt, .bttA{
    appearance: none;
    background-color: wheat;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 2vh;
    font-weight: bold;
    color: black;
    padding: 0.5vh 1vw;
    margin-bottom: 1vh;
}
.btt{
    border: 3px solid green;
}
.btt:hover{
    background: green;
}
.bttA{
    border: 3px solid red;
}
.bttA:hover{
    background: red;
    border: 3px solid red;
}
.message-error{
    color: red;
    margin: 2vh 0;
    line-height: 1;
}
#pwd-power{
    color: pink;
    margin-bottom: 2vh;
}
#success-msg{
    display: flex;
    color: green;
    font-weight: bold;
    justify-content: center;
    font-size: 2.5vw;
}
#fail-msg{
    display: flex;
    color: red;
    font-weight: bold;
    justify-content: center;
    font-size: 2.5vw;
}


@media (min-width: 577px) and (max-width: 1024px){
    fieldset{
        margin: 6vh 5vw;
    }
    #legend{
        margin: 3vh 0 4vh 0;
    }
    input{
        font-size: 1rem;
        width: 72vw;
    }
    li{
        margin-top: 2vh;
        font-size: 1.5rem;
    }
}

@media (min-width: 1025px){
    fieldset{
        margin:2vh 20vw;
    }
    input{
        margin-top: 2vh;
        width: 44vw;
    }
    li{
        margin-top: 0vh;
    }
    #pwd-power{
        margin-bottom: 0vh;
    }
    #button{
        margin: 3vh 5vw 2vh 5vw;
    }
}