#info{
    padding-top: 0.5vh;
    line-height: 5vh;
    font-family: sans-serif;
    background-color: rgb(89, 128, 236);
    margin:2vh 10vw 2vh 10vw;
    border-radius: 2%;
    border: none;
}
#nameProfil{
    line-height: 2vh;
    padding-left: 4vw;
}
#mailProfil{
    padding-left: 4vw;
}
ul{
    padding-left: 0;
}
hr{
    margin-right: 0 auto;
    width: 90%;
}
li {
    color: white;
    list-style-type: none;
    width: 100%;
    font-size: 4vw;
    white-space: nowrap;
}

#scoreboard{
    color: red;
    font-weight: bold;
    font-size: 5vw;
    display: flex;
    justify-content: center;
}

.score{
    display: flex;
    justify-content: center;
}

@media (min-width: 577px) and (max-width: 1024px){
    #info{
        margin-top: 5vh;
        line-height: 7vh;
    }
    #nameProfil{
        padding-top: 1vh
    }
    li{
        font-size: 2.5vw;
    }
}

@media (min-width: 1025px){
    #info{
        margin:2vh 25vw;
        padding: 0.5vh 1vw;
        line-height: 4.5vh;
    }
    #scoreboard{
        font-size: 4vh;
    }
    li{
        font-size: 1vw;
    }
}