html, body {
    background: linear-gradient(to bottom right, #6699CC, #253DA1);
    margin: 0;
    min-height: 100vh;
}
h1{
    text-align: center;
    white-space: nowrap;
    font-size: 7vw;
    color: whitesmoke;
    margin-top: 0vh;
    margin-bottom: 3vh;
    width: 99%;
}
nav{
    display: flex;
    justify-content: center;
    width: 99%;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    background: #000000;
    line-height: 7vh;
    padding: 0 2vw;
    font-family: sans-serif;
    font-size: 5.5vw;
}
nav a:hover{
    background-color: purple;
}

#footer{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 3vw;
}

@media (min-width: 577px) and (max-width: 1024px){
    h1{
        margin-bottom: 1vh;
    }
    nav{
        align-items: center;
    }
    nav a {
        font-size:2em;
        line-height: 2em;
    }
}

@media (min-width: 1025px){
    h1{
        font-size: 4.25vw;
    }
    nav a {
        font-size: 1.5vw;
    }
    #footer{
        font-size: 1vw;
    }
}